:root {
	--white: hsl(0, 0%, 98%);
	--black: hsl(240, 21%, 20%);
	--gray: hsl(240, 10%, 57%);
	--cyan: hsl(192, 90%, 77%);
	--dark-cyan: hsl(192, 37%, 48%);
	--light-violet: hsl(268, 100%, 86%);
	--dark-violet: hsl(268, 34%, 53%);
}
