@use '../util' as *;

.container {
	max-width: 1440px;
	margin: 0 auto;
	overflow-x: hidden;
}

.header {
	width: 100%;

	&__logo {
		width: 100%;
		padding-top: rem(80);
		padding-bottom: rem(60);
		text-align: center;

		@include breakpoint-down(large) {
			padding-top: rem(48);
		}
	}

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin-bottom: rem(110);

		@include breakpoint-down(large) {
			flex-direction: column;
			margin-bottom: rem(80);
		}

		@include breakpoint-down(small) {
			margin-bottom: rem(64);
		}

		&::before {
			display: block;
			content: "";
			width: rem(820);
			height: rem(303);
			position: absolute;
			top: 0;
			left: 0;
			transform: translateX(rem(-32));
			background: no-repeat url(/assets/desktop/image-hero-left.png);

			@include breakpoint-down(large) {
				position: static;
				transform: initial;
				background: no-repeat url(/assets/tablet/image-hero.png);
			}

			@include breakpoint-down(small) {
				width: rem(414);
				height: rem(153);
				background-size: cover;
			}
		}

		&::after {
			display: block;
			content: "";
			width: 100%;
			height: rem(300);
			position: absolute;
			bottom: 0;
			right: 0;
			transform: translateX(75%);
			background: no-repeat url(/assets/desktop/image-hero-right.png);

			@include breakpoint-down(large) {
				display: none;
			}
		}

		.wrapper {
			max-width: rem(540);
			text-align: center;
			padding-top: rem(48);

			@include breakpoint-down(large) {
				max-width: rem(457);
				padding-top: rem(72);
			}

			@include breakpoint-down(small) {
				max-width: rem(327);
				padding-top: rem(38);
			}
		}
	}

	&__headline {
		margin-bottom: rem(34);
		padding: 0 rem(48);

		@include breakpoint-down(large) {
			margin-bottom: rem(24);
		}

		@include breakpoint-down(small) {
			padding: 0;
		}
	}

	&__text {
		margin-bottom: rem(32);
	}

	&__buttons {
		margin-bottom: rem(7);
		& > * + * {
			margin-left: rem(16);
		}

		:last-child {
			width: rem(139);
		}

		@include breakpoint-down(small) {
			display: flex;
			flex-direction: column;

			align-items: center;

			& > * + * {
				margin: 0;
				margin-top: rem(16);
			}
		}
	}
}

.number1 {
	display: flex;
	justify-content: center;
	margin-bottom: rem(64);
}

.images-container {
	display: flex;
	justify-content: space-between;
	max-width: 1110px;
	margin: 0 auto rem(80);

	@include breakpoint-down(large) {
		max-width: 689px;
		margin-bottom: rem(48);
	}

	@include breakpoint-down(small) {
		max-width: 327px;
		margin-bottom: rem(64);
		flex-wrap: wrap;
	}

	img {
		max-width: rem(255);
		height: 100%;
		border-radius: rem(8);

		@include breakpoint-down(large) {
			max-width: rem(164);
		}

		@include breakpoint-down(small) {
			max-width: rem(151);
			margin-bottom: rem(24);
		}
	}
}

.info1 {
	display: flex;
	justify-content: center;
	margin-bottom: rem(72);

	@include breakpoint-down(large) {
		margin-bottom: rem(80);
	}

	@include breakpoint-down(small) {
		margin-bottom: rem(64);
	}
}

.info1-container {
	width: rem(540);
	height: rem(240);
	text-align: center;

	@include breakpoint-down(large) {
		width: rem(573);
	}

	@include breakpoint-down(small) {
		width: rem(327);
	}

	.overline {
		margin-bottom: rem(16);

		@include breakpoint-down(small) {
			margin-bottom: rem(24);
		}
	}

	h2 {
		padding: 0 rem(48);
		margin-bottom: rem(32);

		@include breakpoint-down(large) {
			padding: 0 rem(63);
		}

		@include breakpoint-down(small) {
			padding: 0;
		}
	}
}

.number2 {
	display: flex;
	justify-content: center;
	transform: translateY(rem(28));
}

.info2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: rem(308);
	background: center / cover no-repeat url(/assets/desktop/image-footer.jpg), var(--dark-cyan);
	background-blend-mode: soft-light;

	@include breakpoint-down(large) {
		height: rem(428);
		background: center / cover no-repeat url(/assets/tablet/image-footer.jpg), var(--dark-cyan);
		background-blend-mode: soft-light;
	}

	@include breakpoint-down(large) {
		height: rem(428);
		background: center / cover no-repeat url(/assets/tablet/image-footer.jpg), var(--dark-cyan);
		background-blend-mode: soft-light;
	}
}

.info2-container {
	width: 1110px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	@include breakpoint-down(large) {
		width: 689px;
		height: 270px;
		flex-direction: column;
		text-align: center;
	}

	@include breakpoint-down(small) {
		width: 327px;
	}

	h2 {
		color: var(--white);
		width: rem(350);
	}

	p {
		color: var(--white);
		width: rem(350);

		@include breakpoint-down(large) {
			font-size: rem(18);
			width: rem(573);
		}

		@include breakpoint-down(small) {
			font-size: rem(18);
			width: 100%;
		}
	}
}
